<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Superheroes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <% if (msg) { %>
  <div class="p-3 bg-green-100">
    <%= msg %>
  </div>
<% } %>
    <nav class="flex items-center justify-between">
        <h2 class=" p-10  text-4xl text-center font-semibold tracking-wider">Listado de <span class=" tracking-normal text-green-300 ">SuperHeroes</span></h2>
        <a href="http://localhost:3000/api/heroes/nuevoHeroe" class="mr-10 bg-green-300 text-white py-1 px-3 rounded-xs ">Agregue SuperHeroe</a>     
    </nav>
    

    <main class="mx-15 grid grid-cols-3 gap-10">
                <%  superheroesFormateados.forEach(hero => { %>
            <form action="http://localhost:3000/api/heroes/eliminar/id/<%= hero.Id %>?_method=DELETE" method="post">
                <div class=" p-2"> 
               <h3 class="text-center text-2xl mb-4 font-semibold "><%= hero.Nombre %></h3>
               <p class="pb-1"><span class="font-semibold">Nombre Real:</span> <%= hero.nombreReal %></p>
               <p class="pb-1"><span class="font-semibold">Edad: </span><%= hero.Edad %></p>
               <p class="pb-1"><span class="font-semibold">Planeta Origen:</span> <%= hero.planetaOrigen %></p> 
                <p class="pb-1"><span class="font-semibold">Debilidad:</span> <%= hero.Debilidad %></p>
                <p class="pb-1"><span class="font-semibold">Poderes:</span>  <%= hero.Poderes.join(', ') %></p>
                <p class="pb-1"><span class="font-semibold">Aliados:</span>  <%= hero.Aliados.join(', ') %></p>
                <p class="pb-1 "><span class="font-semibold">Enemigos:</span>  <%= hero.Enemigos.join(', ') %></p>
                
                <div class=" mt-5 flex justify-end gap-10">
                    <a href="http://localhost:3000/api/heroes/editarHeroe/<%= hero.Id %>" style="text-decoration: none;" class="text-white bg-blue-400 py-1 px-4 rounded-xs"> Editar </a> 
                    <button type="submit" class="text-white bg-red-400 py-1 px-4 rounded-xs cursor-pointer">Eliminar</button>
                </div>

            </div>
            </form>
             
             <% }); %>
    </main>

            

      
       
   
</body>

</html>
